/* /////////////////////////////////////////////////////////////////////////// */
/* //////////////////////// BACKGROUND COLOR STYLES ////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.bg-transparent {
	background-color: transparent;
}

.bg-current {
	background-color: currentColor;
}

.bg-base-100 {
	background-color: var(--base-100);
}

.bg-base-90 {
	background-color: var(--base-90);
}

.bg-base-80 {
	background-color: var(--base-80);
}

.bg-base-70 {
	background-color: var(--base-70);
}

.bg-base-60 {
	background-color: var(--base-60);
}

.bg-base-50 {
	background-color: var(--base-50);
}

.bg-base-40 {
	background-color: var(--base-40);
}

.bg-base-30 {
	background-color: var(--base-30);
}

.bg-base-20 {
	background-color: var(--base-20);
}

.bg-base-10 {
	background-color: var(--base-10);
}

.bg-base-0 {
	background-color: var(--base-0);
}

.bg-base-inverted {
	background-color: var(--base-inverted);
}

.bg-accent-brand {
	background-color: var(--accent-brand);
}

.bg-accent-success {
	background-color: var(--accent-success);
}

.bg-accent-warning {
	background-color: var(--accent-warning);
}

.bg-accent-danger {
	background-color: var(--accent-danger);
}
