.border-b-0 {
	border-bottom-width: 0;
}

.border-b-1 {
	border-bottom-width: 1px;
}

.border-b-2 {
	border-bottom-width: 2px;
}

.border-b-3 {
	border-bottom-width: 3px;
}

.border-b-4 {
	border-bottom-width: 4px;
}

.border-b-8 {
	border-bottom-width: 8px;
}