/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////// BORDER TOP STYLES ///////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.border-t-0 {
	border-top-width: 0;
}

.border-t-1 {
	border-top-width: 1px;
}

.border-t-2 {
	border-top-width: 2px;
}

.border-t-3 {
	border-top-width: 3px;
}

.border-t-4 {
	border-top-width: 4px;
}

.border-t-8 {
	border-top-width: 8px;
}
