.border-l-0 {
	border-left-width: 0;
}

.border-l-1 {
	border-left-width: 1px;
}

.border-l-2 {
	border-left-width: 2px;
}

.border-l-3 {
	border-left-width: 3px;
}

.border-l-4 {
	border-left-width: 4px;
}

.border-l-8 {
	border-left-width: 8px;
}