/* /////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// BOTTOM STYLES /////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.bottom-auto {
	bottom: auto;
}

.bottom-unset {
	bottom: unset;
}

.bottom-0 {
	bottom: 0;
}

.-bottom-100 {
	bottom: -100%;
}

.-bottom-1 {
	bottom: calc(var(--sp-1) * -1);
}

.-bottom-2 {
	bottom: calc(var(--sp-2) * -1);
}

.-bottom-3 {
	bottom: calc(var(--sp-3) * -1);
}

.-bottom-4 {
	bottom: calc(var(--sp-4) * -1);
}

.-bottom-5 {
	bottom: calc(var(--sp-5) * -1);
}

.-bottom-6 {
	bottom: calc(var(--sp-6) * -1);
}

.-bottom-7 {
	bottom: calc(var(--sp-7) * -1);
}

.-bottom-8 {
	bottom: calc(var(--sp-8) * -1);
}

.-bottom-9 {
	bottom: calc(var(--sp-9) * -1);
}

.-bottom-10 {
	bottom: calc(var(--sp-10) * -1);
}
