/* /////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// COLOR STYLES /////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.color-transparent {
	color: transparent;
}

.color-current {
	color: currentColor;
}

.color-white {
   color: white;
}

.color-base-100 {
	color: var(--base-100);
}

.color-base-90 {
	color: var(--base-90);
}

.color-base-80 {
	color: var(--base-80);
}

.color-base-70 {
	color: var(--base-70);
}

.color-base-60 {
	color: var(--base-60);
}

.color-base-50 {
	color: var(--base-50);
}

.color-base-40 {
	color: var(--base-40);
}

.color-base-30 {
	color: var(--base-30);
}

.color-base-20 {
	color: var(--base-20);
}

.color-base-10 {
	color: var(--base-10);
}

.color-base-0 {
	color: var(--base-0);
}

.color-base-inverted {
	color: var(--base-inverted);
}

.color-accent-brand {
	color: var(--accent-brand);
}

.color-accent-success {
	color: var(--accent-success);
}

.color-accent-warning {
	color: var(--accent-warning);
}

.color-accent-danger {
	color: var(--accent-danger);
}
