/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// FLOAT STYLES ////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.float-right {
	float: right;
}

.float-none {
	float: none;
}

.float-unset {
	float: unset;
}
