.fs-xs {
	font-size: var(--fs-xs);
}

.fs-s {
	font-size: var(--fs-s);
}

.fs-base {
	font-size: var(--fs-base);
}

.fs-l {
	font-size: var(--fs-l);
}

.fs-xl {
	font-size: var(--fs-xl);
}

.fs-2xl {
	font-size: var(--fs-2xl);
}

.fs-3xl {
	font-size: var(--fs-3xl);
}

.fs-4xl {
	font-size: var(--fs-4xl);
}

.fs-5xl {
	font-size: var(--fs-5xl);
}