.left-auto {
	left: auto;
}

.left-unset {
	left: unset;
}

.left-0 {
	left: 0;
}

.-left-100 {
	left: -100%;
}

.-left-1 {
	left: calc(var(--su-1) * -1);
}

.-left-2 {
	left: calc(var(--su-2) * -1);
}

.-left-3 {
	left: calc(var(--su-3) * -1);
}

.-left-4 {
	left: calc(var(--su-4) * -1);
}

.-left-5 {
	left: calc(var(--su-5) * -1);
}

.-left-6 {
	left: calc(var(--su-6) * -1);
}

.-left-7 {
	left: calc(var(--su-7) * -1);
}

.-left-8 {
	left: calc(var(--su-8) * -1);
}

.-left-9 {
	left: calc(var(--su-9) * -1);
}

.-left-10 {
	left: calc(var(--su-10) * -1);
}