/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// MARGIN STYLES ///////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.m-auto {
	margin: auto;
}

.m-unset {
	margin: unset;
}

.m-0 {
	margin: 0;
}

.m-1 {
	margin: var(--su-1);
}

.m-2 {
	margin: var(--su-2);
}

.m-3 {
	margin: var(--su-3);
}

.m-4 {
	margin: var(--su-4);
}

.m-5 {
	margin: var(--su-5);
}

.m-6 {
	margin: var(--su-6);
}

.m-7 {
	margin: var(--su-7);
}

.m-8 {
	margin: var(--su-8);
}

.m-9 {
	margin: var(--su-9);
}

.m-10 {
	margin: var(--su-10);
}

.-m-1 {
	margin: calc(var(--su-1) * -1);
}

.-m-2 {
	margin: calc(var(--su-2) * -1);
}

.-m-3 {
	margin: calc(var(--su-3) * -1);
}

.-m-4 {
	margin: calc(var(--su-4) * -1);
}

.-m-5 {
	margin: calc(var(--su-5) * -1);
}

.-m-6 {
	margin: calc(var(--su-6) * -1);
}

.-m-7 {
	margin: calc(var(--su-7) * -1);
}

.-m-8 {
	margin: calc(var(--su-8) * -1);
}

.-m-9 {
	margin: calc(var(--su-9) * -1);
}

.-m-10 {
	margin: calc(var(--su-10) * -1);
}
