/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////// MARGIN RIGHT STYLES /////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.mr-auto {
	margin-right: auto;
}

.mr-unset {
	margin-right: unset;
}

.mr-0 {
	margin-right: 0;
}

.mr-1 {
	margin-right: var(--su-1);
}

.mr-2 {
	margin-right: var(--su-2);
}

.mr-3 {
	margin-right: var(--su-3);
}

.mr-4 {
	margin-right: var(--su-4);
}

.mr-5 {
	margin-right: var(--su-5);
}

.mr-6 {
	margin-right: var(--su-6);
}

.mr-7 {
	margin-right: var(--su-7);
}

.mr-8 {
	margin-right: var(--su-8);
}

.mr-9 {
	margin-right: var(--su-9);
}

.mr-10 {
	margin-right: var(--su-10);
}

.-mr-1 {
	margin-right: calc(var(--su-1) * -1);
}

.-mr-2 {
	margin-right: calc(var(--su-2) * -1);
}

.-mr-3 {
	margin-right: calc(var(--su-3) * -1);
}

.-mr-4 {
	margin-right: calc(var(--su-4) * -1);
}

.-mr-5 {
	margin-right: calc(var(--su-5) * -1);
}

.-mr-6 {
	margin-right: calc(var(--su-6) * -1);
}

.-mr-7 {
	margin-right: calc(var(--su-7) * -1);
}

.-mr-8 {
	margin-right: calc(var(--su-8) * -1);
}

.-mr-9 {
	margin-right: calc(var(--su-9) * -1);
}

.-mr-10 {
	margin-right: calc(var(--su-10) * -1);
}
