.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.my-unset {
	margin-top: unset;
	margin-bottom: unset;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.-my-1 {
	margin-top: calc(var(--su-1) * -1);
	margin-bottom: calc(var(--su-1) * -1);
}

.-my-2 {
	margin-top: calc(var(--su-2) * -1);
	margin-bottom: calc(var(--su-2) * -1);
}

.-my-3 {
	margin-top: calc(var(--su-3) * -1);
	margin-bottom: calc(var(--su-3) * -1);
}

.-my-4 {
	margin-top: calc(var(--su-4) * -1);
	margin-bottom: calc(var(--su-4) * -1);
}

.-my-5 {
	margin-top: calc(var(--su-5) * -1);
	margin-bottom: calc(var(--su-5) * -1);
}

.-my-6 {
	margin-top: calc(var(--su-6) * -1);
	margin-bottom: calc(var(--su-6) * -1);
}

.-my-7 {
	margin-top: calc(var(--su-7) * -1);
	margin-bottom: calc(var(--su-7) * -1);
}

.-my-8 {
	margin-top: calc(var(--su-8) * -1);
	margin-bottom: calc(var(--su-8) * -1);
}

.-my-9 {
	margin-top: calc(var(--su-9) * -1);
	margin-bottom: calc(var(--su-9) * -1);
}

.-my-10 {
	margin-top: calc(var(--su-10) * -1);
	margin-bottom: calc(var(--su-10) * -1);
}