/* /////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////// MARGIN LEFT STYLES /////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.ml-auto {
	margin-left: auto;
}

.ml-unset {
	margin-left: unset;
}

.ml-0 {
	margin-left: 0;
}

.ml-1 {
	margin-left: var(--su-1);
}

.ml-2 {
	margin-left: var(--su-2);
}

.ml-3 {
	margin-left: var(--su-3);
}

.ml-4 {
	margin-left: var(--su-4);
}

.ml-5 {
	margin-left: var(--su-5);
}

.ml-6 {
	margin-left: var(--su-6);
}

.ml-7 {
	margin-left: var(--su-7);
}

.ml-8 {
	margin-left: var(--su-8);
}

.ml-9 {
	margin-left: var(--su-9);
}

.ml-10 {
	margin-left: var(--su-10);
}

.-ml-1 {
	margin-left: calc(var(--su-1) * -1);
}

.-ml-2 {
	margin-left: calc(var(--su-2) * -1);
}

.-ml-3 {
	margin-left: calc(var(--su-3) * -1);
}

.-ml-4 {
	margin-left: calc(var(--su-4) * -1);
}

.-ml-5 {
	margin-left: calc(var(--su-5) * -1);
}

.-ml-6 {
	margin-left: calc(var(--su-6) * -1);
}

.-ml-7 {
	margin-left: calc(var(--su-7) * -1);
}

.-ml-8 {
	margin-left: calc(var(--su-8) * -1);
}

.-ml-9 {
	margin-left: calc(var(--su-9) * -1);
}

.-ml-10 {
	margin-left: calc(var(--su-10) * -1);
}
