/* /////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// MAX WIDTH STYLES //////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.max-w-0 {
	max-width: 0;
}

.max-w-25 {
	max-width: 25%;
}

.max-w-50 {
	max-width: 50%;
}

.max-w-75 {
	max-width: 75%;
}

.max-w-100 {
	max-width: 100%;
}

.max-w-unset {
	max-width: unset;
}
