/* /////////////////////////////////////////////////////////////////////////// */
/* ////////////////////// OVERFLOW TOP + BOTTOM STYLES /////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.overflow-y-auto {
	overflow-y: auto;
}

.overflow-y-visible {
	overflow-y: visible;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-y-hidden {
	overflow-y: hidden;
}
