/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////// PADDING LEFT + RIGHT STYLES /////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.px-unset {
	padding-left: unset;
	padding-right: unset;
}

.px-1 {
	padding-left: var(--su-1);
	padding-right: var(--su-1);
}

.px-2 {
	padding-left: var(--su-2);
	padding-right: var(--su-2);
}

.px-3 {
	padding-left: var(--su-3);
	padding-right: var(--su-3);
}

.px-4 {
	padding-left: var(--su-4);
	padding-right: var(--su-4);
}

.px-5 {
	padding-left: var(--su-5);
	padding-right: var(--su-5);
}

.px-6 {
	padding-left: var(--su-6);
	padding-right: var(--su-6);
}

.px-7 {
	padding-left: var(--su-7);
	padding-right: var(--su-7);
}

.px-8 {
	padding-left: var(--su-8);
	padding-right: var(--su-8);
}

.px-9 {
	padding-left: var(--su-9);
	padding-right: var(--su-9);
}

.px-10 {
	padding-left: var(--su-10);
	padding-right: var(--su-10);
}
