/* /////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////// PADDING RIGHT STYLES /////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.pr-0 {
	padding-right: 0;
}

.pr-unset {
	padding-right: unset;
}

.pr-1 {
	padding-right: var(--sp-1);
}

.pr-2 {
	padding-right: var(--sp-2);
}

.pr-3 {
	padding-right: var(--sp-3);
}

.pr-4 {
	padding-right: var(--sp-4);
}

.pr-5 {
	padding-right: var(--sp-5);
}

.pr-6 {
	padding-right: var(--sp-6);
}

.pr-7 {
	padding-right: var(--sp-7);
}

.pr-8 {
	padding-right: var(--sp-8);
}

.pr-9 {
	padding-right: var(--sp-9);
}

.pr-10 {
	padding-right: var(--sp-10);
}
