/* /////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////// PADDING BOTTOM STYLES ////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.pb-0 {
	padding-bottom: 0;
}

.pb-unset {
	padding-bottom: unset;
}

.pb-1 {
	padding-bottom: var(--sp-1);
}

.pb-2 {
	padding-bottom: var(--sp-2);
}

.pb-3 {
	padding-bottom: var(--sp-3);
}

.pb-4 {
	padding-bottom: var(--sp-4);
}

.pb-5 {
	padding-bottom: var(--sp-5);
}

.pb-6 {
	padding-bottom: var(--sp-6);
}

.pb-7 {
	padding-bottom: var(--sp-7);
}

.pb-8 {
	padding-bottom: var(--sp-8);
}

.pb-9 {
	padding-bottom: var(--sp-9);
}

.pb-10 {
	padding-bottom: var(--sp-10);
}
