/* /////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// PADDING STYLES ////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.p-0 {
	padding: 0;
}

.p-unset {
	padding: unset;
}

.p-1 {
	padding: var(--su-1);
}

.p-2 {
	padding: var(--su-2);
}

.p-3 {
	padding: var(--su-3);
}

.p-4 {
	padding: var(--su-4);
}

.p-5 {
	padding: var(--su-5);
}

.p-6 {
	padding: var(--su-6);
}

.p-7 {
	padding: var(--su-7);
}

.p-8 {
	padding: var(--su-8);
}

.p-9 {
	padding: var(--su-9);
}

.p-10 {
	padding: var(--su-10);
}
