/* /////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////// PADDING RIGHT STYLES /////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.pr-0 {
	padding-right: 0;
}

.pr-unset {
	padding-right: unset;
}

.pr-1 {
	padding-right: var(--su-1);
}

.pr-2 {
	padding-right: var(--su-2);
}

.pr-3 {
	padding-right: var(--su-3);
}

.pr-4 {
	padding-right: var(--su-4);
}

.pr-5 {
	padding-right: var(--su-5);
}

.pr-6 {
	padding-right: var(--su-6);
}

.pr-7 {
	padding-right: var(--su-7);
}

.pr-8 {
	padding-right: var(--su-8);
}

.pr-9 {
	padding-right: var(--su-9);
}

.pr-10 {
	padding-right: var(--su-10);
}
