/* /////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// PADDING STYLES ////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.p-0 {
	padding: 0;
}

.p-unset {
	padding: unset;
}

.p-1 {
	padding: var(--sp-1);
}

.p-2 {
	padding: var(--sp-2);
}

.p-3 {
	padding: var(--sp-3);
}

.p-4 {
	padding: var(--sp-4);
}

.p-5 {
	padding: var(--sp-5);
}

.p-6 {
	padding: var(--sp-6);
}

.p-7 {
	padding: var(--sp-7);
}

.p-8 {
	padding: var(--sp-8);
}

.p-9 {
	padding: var(--sp-9);
}

.p-10 {
	padding: var(--sp-10);
}
