.pl-0 {
	padding-left: 0;
}

.pl-unset {
	padding-left: unset;
}

.pl-1 {
	padding-left: var(--su-1);
}

.pl-2 {
	padding-left: var(--su-2);
}

.pl-3 {
	padding-left: var(--su-3);
}

.pl-4 {
	padding-left: var(--su-4);
}

.pl-5 {
	padding-left: var(--su-5);
}

.pl-6 {
	padding-left: var(--su-6);
}

.pl-7 {
	padding-left: var(--su-7);
}

.pl-8 {
	padding-left: var(--su-8);
}

.pl-9 {
	padding-left: var(--su-9);
}

.pl-10 {
	padding-left: var(--su-10);
}