/* /////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// POSITION STYLES ///////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.static {
	position: static;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.sticky {
	position: sticky;
}

.relative {
	position: relative;
}
