/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// RIGHT STYLES ////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.right-auto {
	right: auto;
}

.right-unset {
	right: unset;
}

.right-0 {
	right: 0;
}

.-right-100 {
	right: -100%;
}

.-right-1 {
	right: calc(var(--su-1) * -1);
}

.-right-2 {
	right: calc(var(--su-2) * -1);
}

.-right-3 {
	right: calc(var(--su-3) * -1);
}

.-right-4 {
	right: calc(var(--su-4) * -1);
}

.-right-5 {
	right: calc(var(--su-5) * -1);
}

.-right-6 {
	right: calc(var(--su-6) * -1);
}

.-right-7 {
	right: calc(var(--su-7) * -1);
}

.-right-8 {
	right: calc(var(--su-8) * -1);
}

.-right-9 {
	right: calc(var(--su-9) * -1);
}

.-right-10 {
	right: calc(var(--su-10) * -1);
}
