.top-auto {
	top: auto;
}

.top-unset {
	top: unset;
}

.top-0 {
	top: 0;
}

.-top-100 {
	top: -100%;
}

.-top-1 {
	top: calc(var(--su-1) * -1);
}

.-top-2 {
	top: calc(var(--su-2) * -1);
}

.-top-3 {
	top: calc(var(--su-3) * -1);
}

.-top-4 {
	top: calc(var(--su-4) * -1);
}

.-top-5 {
	top: calc(var(--su-5) * -1);
}

.-top-6 {
	top: calc(var(--su-6) * -1);
}

.-top-7 {
	top: calc(var(--su-7) * -1);
}

.-top-8 {
	top: calc(var(--su-8) * -1);
}

.-top-9 {
	top: calc(var(--su-9) * -1);
}

.-top-10 {
	top: calc(var(--su-10) * -1);
}
