/* /////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// BOTTOM STYLES ////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

// Primary

.btn {
	vertical-align: bottom;
	height: 30px;
	width: fit-content;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: var(--radius);
	padding: 0 var(--su-1);
	border: var(--base-border-width) solid var(--button-primary-bg);
	background-color: var(--button-primary-bg);
	color: var(--base-0);
	transition: all var(--transition-props);
	box-shadow: var(--btn-shadow), 0px 0px 0 var(--form-border-focus);
	font-weight: var(--fw-medium);
}

.btn:hover {
	color: var(--button-primary-color-hover);
	background-color: var(--button-primary-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Icon

.btn .material-icons {
	font-size: 24px;
}

// Icon left

.btn.btn-icon-left {
	padding-left: calc(var(--su-2) + 24px);
}

.btn.btn-icon-left .material-icons {
	position: absolute;
	left: 0;
	margin-left: var(--su-1);
}

// Icon right

.btn.btn-icon-right {
	padding-right: calc(var(--su-2) + 24px);
}

.btn.btn-icon-right .material-icons {
	position: absolute;
	right: 0;
	margin-right: var(--su-1);
}

// Icon alone

.btn.btn-icon {
	width: 30px;
	padding: 0;
}

.btn.btn-icon:before {
	content: '\00a0\00a0';
}

// Icon alone rounded

.btn.btn-icon.btn-icon-rounded {
	border-radius: 1000px;
}

.btn.btn-icon .material-icons {
	position: absolute;
	right: unset;
	margin-right: unset;
}

// Secondary

.btn.btn-secondary {
	color: var(--button-secondary-color);
	background-color: var(--button-secondary-bg);
	border: var(--base-border-width) solid var(--button-secondary-bg);
}

.btn.btn-secondary:hover {
	color: var(--button-secondary-color-hover);
	background-color: var(--button-secondary-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// outlined

.btn.btn-outlined {
	color: var(--button-outlined-color);
	background-color: var(--button-outlined-bg);
	border: var(--base-border-width) solid var(--button-outlined-border);
}

.btn.btn-outlined:hover {
	color: var(--button-outlined-color-hover);
	background-color: var(--button-outlined-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Danger

.btn.btn-danger {
	color: var(--base-inverted);
	background-color: var(--accent-danger);
	border: var(--base-border-width) solid var(--accent-danger);
}

.btn.btn-danger:hover {
	color: var(--base-inverted);
	background-color: var(--accent-danger-darker);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Warning

.btn.btn-warning {
	color: var(--base);
	background-color: var(--accent-warning);
	border: var(--base-border-width) solid var(--accent-warning);
}

.btn.btn-warning:hover {
	color: var(--base-inverted);
	background-color: var(--accent-warning-darker);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Success

.btn.btn-success {
	color: var(--button-secondary-color);
	background-color: var(--accent-success);
	border: var(--base-border-width) solid var(--accent-success);
}

.btn.btn-success:hover {
	color: var(--base-inverted);
	background-color: var(--accent-success-darker);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Ghost

.btn.btn-ghost {
	color: var(--button-ghost-color);
	background-color: var(--button-ghost-bg);
	border: var(--base-border-width) solid var(--button-ghost-bg);
	box-shadow: none;
}

.btn.btn-ghost:hover {
	color: var(--button-ghost-color-hover);
	background-color: var(--button-ghost-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Ghost dimmed

.btn.btn-ghost-dimmed {
	color: var(--button-ghost-dimmed-color);
	background-color: var(--button-ghost-bg);
	border: var(--base-border-width) solid var(--button-ghost-bg);
	box-shadow: none;
}

.btn.btn-ghost-dimmed:hover {
	color: var(--button-ghost-color-dimmed-hover);
	background-color: var(--button-ghost-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Ghost brand

.btn.btn-ghost-brand {
	color: var(--accent-brand);
	background-color: var(--button-ghost-bg);
	border: var(--base-border-width) solid var(--button-ghost-bg);
	box-shadow: none;
}

.btn.btn-ghost-brand:hover {
	color: var(--accent-brand-darker);
	background-color: var(--button-ghost-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Ghost success

.btn.btn-ghost-success {
	color: var(--accent-success);
	background-color: var(--button-ghost-bg);
	border: var(--base-border-width) solid var(--button-ghost-bg);
	box-shadow: none;
}

.btn.btn-ghost-success:hover {
	color: var(--accent-success-darker);
	background-color: var(--button-ghost-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Ghost success

.btn.btn-ghost-warning {
	color: var(--accent-warning);
	background-color: var(--button-ghost-bg);
	border: var(--base-border-width) solid var(--button-ghost-bg);
	box-shadow: none;
}

.btn.btn-ghost-warning:hover {
	color: var(--accent-warning-darker);
	background-color: var(--button-ghost-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Ghost danger

.btn.btn-ghost-danger {
	color: var(--accent-danger);
	background-color: var(--button-ghost-bg);
	border: var(--base-border-width) solid var(--button-ghost-bg);
	box-shadow: none;
}

.btn.btn-ghost-danger:hover {
	color: var(--accent-danger-darker);
	background-color: var(--button-ghost-bg-hover);
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

// Group

.btn-group {
	border: var(--base-border-width) solid transparent;
	border-radius: var(--radius);
	display: inline-flex;
	box-shadow: var(--btn-shadow), 0px 0px 0 var(--form-border-focus);
	height: 30px;
	transition: all var(--transition-props);
	overflow: hidden;
}

.btn-group:hover {
	border-color: var(--base);
	box-shadow: var(--btn-shadow-hover), 1px 1px 0 var(--base);
}

.btn-group .btn {
	border-top-width: 0;
	border-bottom-width: 0;
	border-radius: 0;
	box-shadow: none;
	height: 28px;
}

.btn-group .btn:hover {
	box-shadow: none;
}

.btn-group .btn:first-child {
	border-left-width: 0;
	border-radius: 0;
}

.btn-group .btn:last-child {
	border-right-width: 0;
	border-radius: 0;
}

// Buttom Sizes

.btn {
	// Size small

	&.btn-s {
		font-size: var(--fs-s);
		font-weight: normal;
		height: 22px;

      &.btn-icon{
         width: 22px;
      }

		&.btn-icon-left {
			padding-left: calc(var(--su-1) + 18px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-half);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-1) + 18px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-half);
			}
		}

      .material-icons {
         font-size: 18px;
      }
	}

	// Size medium

	&.btn-m {
		font-size: var(--fs-m);
		font-weight: normal;
		height: 26px;

      &.btn-icon{
         width: 26px;
      }

		&.btn-icon-left {
			padding-left: calc(var(--su-1) + 21px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-half);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-1) + 21px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-half);
			}
		}

      .material-icons {
         font-size: 21px;
      }
	}

	// Size large

	&.btn-l {
		font-size: var(--fs-l);
		height: 34px;

      &.btn-icon{
         width: 34px;
      }

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 28px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 28px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

      .material-icons {
         font-size: 28px;
      }
	}

	// Size extra large

	&.btn-xl {
		font-size: var(--fs-xl);
		height: 38px;

      &.btn-icon{
         width: 38px;
      }

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 32px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 32px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

      .material-icons {
         font-size: 32px;
      }
	}

	// Size extra large 2

	&.btn-2xl {
		font-size: var(--fs-2xl);
		height: 42px;

      &.btn-icon{
         width: 42px;
      }

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 34px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 34px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

      .material-icons {
         font-size: 34px;
      }
	}

	// Size extra large 3

	&.btn-3xl {
		font-size: var(--fs-3xl);
		height: 46px;
		border-width: 2px;

      &.btn-icon{
         width: 46px;
      }

		&:hover {
			box-shadow: var(--btn-shadow-hover), 2px 2px 0 var(--base);
			border-width: 2px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 38px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 38px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

      .material-icons {
         font-size: 38px;
      }
	}

	// Size extra large 4

	&.btn-4xl {
		font-size: var(--fs-4xl);
		height: 50px;
		border-width: 2px;

      &.btn-icon{
         width: 50px;
      }

		&:hover {
			box-shadow: var(--btn-shadow-hover), 2px 2px 0 var(--base);
			border-width: 2px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 42px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 42px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

      .material-icons {
         font-size: 42px;
      }
	}

	// Size extra large 5

	&.btn-5xl {
		font-size: var(--fs-5xl);
		height: 54px;
		padding: 0 var(--su-2);
		border-width: 2px;

      &.btn-icon{
         width: 54px;
      }

		&:hover {
			box-shadow: var(--btn-shadow-hover), 3px 3px 0 var(--base);
			border-width: 2px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 48px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 48px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

      .material-icons {
         font-size: 48px;
      }
	}
}

// Group small

.btn-group-s {
	height: 22px;

	.btn {
		font-size: var(--fs-s);
		font-weight: normal;
		height: 20px;

		&.btn-icon {
			width: 22px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-1) + 18px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-half);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-1) + 18px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-half);
			}
		}

		.material-icons {
			font-size: 18px;
		}
	}
}

// Group medium

.btn-group-m {
	height: 26px;

	.btn {
		font-size: var(--fs-m);
		font-weight: normal;
		height: 24px;

		&.btn-icon {
			width: 26px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-1) + 21px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-half);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-1) + 21px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-half);
			}
		}

		.material-icons {
			font-size: 21px;
		}
	}
}

// Group large

.btn-group-l {
	height: 34px;

	.btn {
		font-size: var(--fs-l);
		height: 32px;

		&.btn-icon {
			width: 34px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 28px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 28px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

		.material-icons {
			font-size: 28px;
		}
	}
}

// Group extra large

.btn-group-xl {
	height: 38px;

	.btn {
		font-size: var(--fs-xl);
		height: 36px;

		&.btn-icon {
			width: 38px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 32px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 32px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

		.material-icons {
			font-size: 32px;
		}
	}
}

// Group extra large 2

.btn-group-2xl {
	height: 42px;

	.btn {
		font-size: var(--fs-2xl);
		height: 40px;

		&.btn-icon {
			width: 42px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 34px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 34px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

		.material-icons {
			font-size: 34px;
		}
	}
}

// Group extra large 3

.btn-group-3xl {
	height: 46px;
	border-width: 2px;

	&:hover {
		box-shadow: var(--btn-shadow-hover), 2px 2px 0 var(--base);
	}

	.btn {
		font-size: var(--fs-3xl);
		height: 44px;
		border-width: 0 2px;

		&.btn-icon {
			width: 46px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 38px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 38px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

		.material-icons {
			font-size: 38px;
		}
	}
}

// Group extra large 4

.btn-group-4xl {
	height: 50px;
	border-width: 2px;

	&:hover {
		box-shadow: var(--btn-shadow-hover), 2px 2px 0 var(--base);
	}

	.btn {
		font-size: var(--fs-4xl);
		height: 48px;
		border-width: 0 2px;

		&.btn-icon {
			width: 50px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 42px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 42px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

		.material-icons {
			font-size: 42px;
		}
	}
}

// Group extra large 5

.btn-group-5xl {
	height: 54px;
	border-width: 2px;

	&:hover {
		box-shadow: var(--btn-shadow-hover), 3px 3px 0 var(--base);
	}

	.btn {
		font-size: var(--fs-5xl);
		height: 52px;
		padding: 0 var(--su-2);
		border-width: 0 2px;

		&.btn-icon {
			width: 54px;
		}

		&.btn-icon-left {
			padding-left: calc(var(--su-2) + 48px);

			.material-icons {
				position: absolute;
				left: 0;
				margin-left: var(--su-1);
			}
		}

		&.btn-icon-right {
			padding-right: calc(var(--su-2) + 48px);

			.material-icons {
				position: absolute;
				right: 0;
				margin-right: var(--su-1);
			}
		}

		.material-icons {
			font-size: 48px;
		}
	}
}
