/* /////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// BOTTOM STYLES ////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

// Primary

.btn {

	vertical-align: bottom;
	height: 30px;
	width: fit-content;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: var(--radius);
	padding: 0 var(--su-1);
	border: var(--base-border-width) solid var(--button-primary-bg);
	background-color: var(--button-primary-bg);
	color: var(--base-0);
	transition: all var(--transition-props);
	box-shadow: var(--btn-shadow), 0px 0px 0 var(--form-border-focus);
	font-weight: var(--fw-medium);

   &:hover {
      color: var(--button-primary-color-hover);
      background-color: var(--button-primary-bg-hover);
      border-color: var(--base);
      box-shadow: var(--btn-shadow-hover), 2px 2px 0 var(--base);
   }

   // Icon

   .material-icons {
      font-size: 24px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   // Icon Left

   &.btn-icon-left {
      padding-left: calc(var(--su-2) + 24px);

      .material-icons {
         position: absolute;
         left: 0;
         margin-left: var(--su-1);
      }
   }

   // Icon Right

   &.btn-icon-right {
      padding-right: calc(var(--su-2) + 24px);

      .material-icons {
         position: absolute;
         right: 0;
         margin-right: var(--su-1);
      }
   }

   // Icon Alone

   &.btn-icon {
      width: 30px;
      padding: 0;

      &:before {
         content: '\00a0\00a0';
      }

      // Icon alone rounded

      &.btn-icon-rounded {
         border-radius: 1000px;
      }

      .material-icons {
         position: absolute;
         right: unset;
         margin-right: unset;
      }
   }

   // Secondary Style

   &.btn-secondary {
      color: var(--button-secondary-color);
      background-color: var(--button-secondary-bg);
      border: var(--base-border-width) solid var(--button-secondary-bg);

      &:hover {
         color: var(--button-secondary-color-hover);
         background-color: var(--button-secondary-bg-hover);
         border-color: var(--base);
      }
   }

   // outlined Style

   &.btn-outlined {
      color: var(--button-outlined-color);
      background-color: var(--button-outlined-bg);
      border: var(--base-border-width) solid var(--button-outlined-border);

      &:hover {
         color: var(--button-outlined-color-hover);
         background-color: var(--button-outlined-bg-hover);
         border-color: var(--base);
      }
   }

   // Danger Style

   &.btn-danger {
      color: var(--base-inverted);
      background-color: var(--accent-danger);
      border: var(--base-border-width) solid var(--accent-danger);

      &:hover {
         color: var(--base-inverted);
         background-color: var(--accent-danger-darker);
         border-color: var(--base);
      }
   }

   // Warning Style

   &.btn-warning {
      color: var(--base);
      background-color: var(--accent-warning);
      border: var(--base-border-width) solid var(--accent-warning);

      &:hover {
         color: var(--base-inverted);
         background-color: var(--accent-warning-darker);
         border-color: var(--base);
      }
   }

   // Success Style

   &.btn-success {
      color: var(--button-secondary-color);
      background-color: var(--accent-success);
      border: var(--base-border-width) solid var(--accent-success);

      &:hover {
         color: var(--base-inverted);
         background-color: var(--accent-success-darker);
         border-color: var(--base);
      }
   }

   // Ghost Style

   &.btn-ghost {
      color: var(--button-ghost-color);
      background-color: var(--button-ghost-bg);
      border: var(--base-border-width) solid var(--button-ghost-bg);

      &:hover {
         color: var(--button-ghost-color-hover);
         background-color: var(--button-ghost-bg-hover);
         border-color: var(--base);
      }
   }

   // Ghost Dimmed Style

   &.btn-ghost-dimmed {
      color: var(--button-ghost-dimmed-color);
      background-color: var(--button-ghost-bg);
      border: var(--base-border-width) solid var(--button-ghost-bg);

      &:hover {
         color: var(--button-ghost-color-dimmed-hover);
         background-color: var(--button-ghost-bg-hover);
         border-color: var(--base);
      }
   }

   // Ghost Brand Style

   &.btn-ghost-brand {
      color: var(--accent-brand);
      background-color: var(--button-ghost-bg);
      border: var(--base-border-width) solid var(--button-ghost-bg);

      &:hover {
         color: var(--accent-brand-darker);
         background-color: var(--button-ghost-bg-hover);
         border-color: var(--base);
      }
   }

   // Ghost Success Style

   &.btn-ghost-success {
      color: var(--accent-success);
      background-color: var(--button-ghost-bg);
      border: var(--base-border-width) solid var(--button-ghost-bg);

      &:hover {
         color: var(--accent-success-darker);
         background-color: var(--button-ghost-bg-hover);
         border-color: var(--base);
      }
   }

   // Ghost Warning Style

   &.btn-ghost-warning {
      color: var(--accent-warning);
      background-color: var(--button-ghost-bg);
      border: var(--base-border-width) solid var(--button-ghost-bg);

      &:hover {
         color: var(--accent-warning-darker);
         background-color: var(--button-ghost-bg-hover);
         border-color: var(--base);
      }
   }

   // Ghost Danger Style

   &.btn-ghost-danger {
      color: var(--accent-danger);
      background-color: var(--button-ghost-bg);
      border: var(--base-border-width) solid var(--button-ghost-bg);

      &:hover {
         color: var(--accent-danger-darker);
         background-color: var(--button-ghost-bg-hover);
         border-color: var(--base);
      }
   }
}

// Group

.btn-group {
	border: var(--base-border-width) solid transparent;
	border-radius: var(--radius);
	display: inline-flex;
	box-shadow: var(--btn-shadow), 0px 0px 0 var(--form-border-focus);
	height: 30px;
	transition: all var(--transition-props);
	overflow: hidden;
   display: inline-tablegu;
   

   &:hover {
      border-color: var(--base);
      box-shadow: var(--btn-shadow-hover), 2px 2px 0 var(--base);
   }

   .btn {
      border-top-width: 0;
      border-bottom-width: 0;
      border-radius: 0;
      box-shadow: none;
      height: 28px;
      display: table-cell;
      line-height: 28px;

      &:hover {
         box-shadow: none;
      }

      &:first-child {
         border-left-width: 0;
         border-radius: 0;
      }

      &:last-child {
         border-right-width: 0;
         border-radius: 0;
      }

      &.btn.btn-icon {
         display: flex;
      }
   }
}
