/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////// COLLECTION STYLES ///////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */


:root {
    --collection-elem-bg-color: var(--color-palette-3);
    --collection-c-elem-bg-color: var(--color-palette-2);
    --collection-border-color: var(--color-palette-0);
    --collection-border-color-focus: var(--color-palette-1);
    --collection-bg-color: var(--collection-elem-bg-color);
}

.collection {
    transition: all var(--transition-props);
    box-shadow: 0px 0px 0 var(--collection-border-color);
    background-color: var(--collection-bg-color);
    border-radius: var(--radius);
    border-width: var(--base-border-width);
    border-color: var(--collection-border-color);
    border-style: solid;
    overflow: hidden;

    &:hover {
        box-shadow: var(--highlight-box-shadow) var(--collection-border-color);
    }

    .collection {
        border: none;
        box-shadow: none;
    }

    li, a {
        transition: all var(--transition-props);
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        height: var(--average-height);
        border-bottom: solid;
        border-radius: 0px 0px 0px 0px;
        border-width: var(--base-border-width);
        border-color: var(--collection-border-color);
        background: var(--collection-elem-bg-color);
        color: var(--color-palette-0);
        text-indent: calc(var(--sp-1) * var(--nested-depth,1));
        position: relative;
        width: 100%;

        &:last-child {
            border-bottom: none !important;
            border-radius: 0px 0px 0px 0px !important;
        }

        a &:hover {
            border-radius: 0px 0px 0px var(--radius);
        }

        @for $i from 25 through 1 {
            &:nth-child(#{25 - $i}) {
                z-index: #{$i};
            }
        }
    }

    ul {
        width: 100%;
    }

    & > a {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
        
        &:hover {
            box-shadow: var(--highlight-box-shadow) var(--collection-border-color);
            background-color: var(--collection-border-color-focus);
            color: var(--color-palette-4);
            border-radius: 0px 0px 0px var(--radius);
        }

        &.active {
            background-color: yellow;
            color: black;
        }
    }

    & > li.collapsible > a:not(.active):hover {
        border-radius: 0px 0px 0px var(--radius);
    }

    &.center-align {
        li, a {
            text-indent: 0;
            align-items: center;
        }
    }

    &.right-align {
        li, a {
            direction: rtl;
            text-indent: calc(var(--sp-1) * var(--nested-depth,1));
        }
    }

    &.left-align {
        li, a {
            direction: ltr;
            text-indent: calc(var(--sp-1) * var(--nested-depth,1));
        }
    }

    &.no-indent {
        li, a {
            text-indent: 0;
        }
    }

    li.collapsible {
        border: none;
        cursor: pointer;
        height: auto;
        background-color: var(--collection-elem-bg-color);

        a + ul {
            height: 0px;
            overflow: hidden;
            transition: all var(--transition-props), border-top 0s;
        }

        a.active + ul {
            height: calc( (var(--average-height) * var(--childrens)) + (var(--childrens) * var(--base-border-width)) - var(--base-border-width));
        }

        &.active > ul {
            overflow: visible;
        }

        &:first-child a {
            &:hover {
                border-bottom: solid var(--collection-border-color) var(--base-border-width) !important;
            }
        
            &.active {
                border-bottom: solid var(--collection-border-color) var(--base-border-width) !important;
            }
        }

        &:only-child a {
            border-width: 0 !important;
        }

        & > a {
            z-index: 25;
            background: var(--collection-c-elem-bg-color);
            color: var(--color-palette-4);
            border-width: 0px;

            &::before {
                width: 0;
                height: 0;
                transition: all var(--transition-props);
                content: " ";
                position: absolute;
                border-left: solid 5px var(--color-palette-4);
                border-bottom: solid 5px var(--color-palette-4);
                border-top: solid 5px transparent;
                border-right: solid 5px transparent;
                transform: rotate(-45deg);
                right: var(--sp-1);
                margin-top: -5px;
            }

            &.active {
                border-width: var(--base-border-width);

                &::before {
                    border-left: solid 5px transparent;
                    border-bottom: solid 5px transparent;
                    border-top: solid 5px var(--color-palette-4);
                    border-right: solid 5px var(--color-palette-4);
                    margin-top: 5px;
                }
            }

            &:hover {
                box-shadow: var(--highlight-box-shadow) var(--collection-border-color);
                background-color: var(--collection-border-color-focus);
                color: var(--color-palette-4);
                border-radius: 0px 0px 0px var(--radius);
            }
        }

        &:last-child {
            &:not(.active) > a {
                border-width: 0;
            }
            
            > a {
                border-bottom: solid var(--collection-border-color) var(--base-border-width);
            }
        }

        &:not(:last-child) {
            margin-top: 0px !important;

            & > ul > a:last-child {
                border-bottom: solid var(--collection-border-color) var(--base-border-width) !important;
                
                &:hover {
                    /*border-radius: 0px 0px 0px var(--radius) !important;*/
                }
            }

            &.active > ul.collection > .collapsible:last-child > a {
                border-width: var(--base-border-width);
            }

            &.active > ul.collection > li:last-child:not(.collapsible) {
                border-bottom: solid var(--collection-border-color) var(--base-border-width) !important;
            }

            /*& > ul > li:last-child, & > ul > a:last-child {
                border-bottom: solid var(--collection-border-color) var(--base-border-width) !important;
                
                &:hover {
                    border-radius: 0px 0px 0px var(--radius) !important;
                }
            }*/

            & > a {
                border-bottom: solid var(--collection-border-color) var(--base-border-width) !important;
    
                &:hover {
                    box-shadow: var(--highlight-box-shadow) var(--collection-border-color);
                    border-radius: 0px 0px 0px var(--radius) !important;
                }
            }
        }

        .collapsible.active + .collapsible {
            margin-top: 2px !important;
        }
    }
}