/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////// COLLECTION STYLES ///////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */


:root {
    --collection-elem-bg-color: var(--color-palette-3);
    --collection-c-elem-bg-color: var(--color-palette-2);
}

.collection {
    box-shadow: 0px 0px 0 var(--form-border-color);
    background-color: var(--collection-background-color);
    border-width: var(--base-border-width);
    border-color: var(--form-border-color);
    transition: all var(--transition-props);
    border-radius: var(--radius);

    .collection {
        border-radius: 0;
    }

    &:first-child {
        border-style: solid;
        /* box-shadow: none !important; */
        overflow: hidden;

        &:hover {
            box-shadow: var(--highlight-box-shadow) var(--form-border-color);
        }
    }

    li, a {
        height: var(--average-height);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        transition: all var(--transition-props);
        border-bottom: solid;
        border-width: var(--base-border-width);
        border-color: var(--form-border-color);
        box-sizing: content-box;
        background: var(--collection-elem-bg-color);
        color: var(--color-palette-0);
        text-indent: calc(var(--sp-1) * var(--nested-depth,1));
        border-radius: 0px;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            box-shadow: var(--highlight-box-shadow) var(--form-border-color);
        }
    }

    &> li.collapsible > a:not(.active):hover {
        border-radius: 0px;
    }

    &.center-align {
        li, a {
            text-indent: 0;
            align-items: center;
        }
    }

    &.right-align {
        li, a {
            direction: rtl;
            text-indent: calc(var(--sp-1) * var(--nested-depth,1));
        }
    }

    &.left-align {
        li, a {
            direction: ltr;
            text-indent: calc(var(--sp-1) * var(--nested-depth,1));
        }
    }

    &.no-indent {
        li, a {
            text-indent: 0;
        }
    }

    li.collapsible {
        border: none;
        cursor: pointer;
        height: auto;
        background-color: var(--collection-elem-bg-color);

        a, ul {
            width: 100%;
        }

        a + ul {
            height: 0px;
            overflow: hidden;
            transition: all var(--transition-props), border-top 0s;
        }

        a {
            background: var(--collection-c-elem-bg-color);
            color: white;
            position: relative;
            z-index: 1;
            border-width: 0px;

            &.active {
                border-width: var(--base-border-width);
            }

            &:hover {
                box-shadow: var(--highlight-box-shadow) var(--form-border-color);
                background-color: var(--form-border-color-focus);
                color: white;
                border-radius: 0 0 0 var(--radius);
            }
        }

        a.active + ul {
            overflow: hidden;
            height: calc( (var(--average-height) * var(--childrens)) + (var(--childrens) * var(--base-border-width)) - var(--base-border-width));
        }
    }
}