// /////////////////////////////////////////////////////////////////////////// //
// //////////////////////////////// SPACING ////////////////////////////////// //
// /////////////////////////////////////////////////////////////////////////// //

// Units

$space_half: 0.555555555555556rem / 2;
$space_1: 0.555555555555556rem;
$space_2: 0.555555555555556rem * 2;
$space_3: 0.555555555555556rem * 3;
$space_4: 0.555555555555556rem * 4;
$space_5: 0.555555555555556rem * 5;
$space_6: 0.555555555555556rem * 6;
$space_7: 0.555555555555556rem * 7;
$space_8: 0.555555555555556rem * 8;
$space_9: 0.555555555555556rem * 9;
$space_10: 0.555555555555556rem * 10;