/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////// DOCUMENTATION PAGE STYLES ///////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

@import '../scss/tokens/breakpoints.scss';

// Css vars

:root {
	/* MISC */

	--header-height: 56px;
	--side-nav-width: 311px;
}

.sidenav {
    position: fixed;
    width: var(--side-nav-width);
    height: 100%;
    border-right: 1px solid gray;
    left: 0;
    transition: left .3s;

    ~ header,
	~ main,
	~ footer {
        position: relative;
        width: 100vw;
        left: calc(var(--side-nav-width));
        transition: left .3s, width .1s;
	}

    ~ header {
		border-bottom: 1px solid gray;
	}

    ~ footer {
		border-top: 1px solid gray;
	}
}

.sidenav.hide {
    left: calc(var(--side-nav-width) * -1);

    ~ header,
	~ main,
	~ footer {
        left: 0;
	}
}

.stripes-bg {
	background: repeating-linear-gradient(45deg, #000000, #000000 30px, #52057b 30px, #52057b 60px, #892cdc 60px, #892cdc 90px, #bc6ff1 90px, #bc6ff1 120px, #a0b5d4 120px, #a0b5d4 150px);

	background-size: 212px 212px;
	animation: barberpole 2s linear infinite;
	box-shadow: 10px 10px, 5px -5px, -5px 5px, -10px -10px;
}

@keyframes barberpole {
	100% {
		background-position: 0% 212px;
	}
}

.start-btn {
	width: 335px;
}

// Extra Small Breakpoint

@include breakpoint-xs {

}

// Small Breakpoint

@include breakpoint-sm {
}

// Medium Breakpoint

@include breakpoint-md {

}

// Large Breakpoint

@include breakpoint-lg {
    .sidenav {
        left: 0 !important;
        position: fixed;

        ~ header,
        ~ main,
        ~ footer {
            width: calc(100% - var(--side-nav-width));
            left: var(--side-nav-width) !important;
        }
    }
}

// Extra Large Breakpoint

@include breakpoint-xl {
}
