// /////////////////////////////////////////////////////////////////////////// //
// ///////////////////////////// COLORS STYLES /////////////////////////////// //
// /////////////////////////////////////////////////////////////////////////// //

:root {
   
	/* COLORS */
	--color-palette-0:#111111;
	--color-palette-1:#0000ff;
	--color-palette-2:#fe01fe;
	--color-palette-3:#F995C6;
	--color-palette-4:#FAFAFA;
	--color-palette-5:#FF0033;
	--color-palette-6:#FF7590;
	--color-palette-7:#C4C4C4;
	--color-palette-8:#FFBEBE;

}