/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////// FUNDATIONS STYLES ///////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

// Css vars

:root {

	/* MISC */

	--average-height: 36px;
	--base-border-width: 2px;
	--radius: 3px;
	--highlight-box-shadow: 3px 3px 0;

	/* SPACING */

	--sp-half: #{$space_half};
	--sp-1: #{$space_1};
	--sp-2: #{$space_2};
	--sp-3: #{$space_3};
	--sp-4: #{$space_4};
	--sp-5: #{$space_5};
	--sp-6: #{$space_6};
	--sp-7: #{$space_7};
	--sp-8: #{$space_8};
	--sp-9: #{$space_9};
	--sp-10: #{$space_10};

	/* FONTS */

	--ff-sans-serif: 'Sen', sans-serif;

	/* TRANSITION */

	--transition-props: 0.2s cubic-bezier(0.25, 0.4, 0.55, 1.4);

}

// Head, Style, Script

head,
style,
script {
	display: none;
}

// Sticky Footer

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
    overflow-x: hidden;
}

main {
	flex: 1 0 auto;
}

// Html

html {
	line-height: initial;
	font-size: 18px;
	color: #101010;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
    overflow-x: hidden;
}

// Body

body {
	font-family: var(--ff-sans-serif);
}

// Table

table {
	display: table;
	border-collapse: separate;
	box-sizing: border-box;
	text-indent: initial;
	border-spacing: 0px;
	width: 100%;
	transition: all var(--transition-props);
	overflow: hidden;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tfoot {
	display: table-footer-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

th {
	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
	text-align: -internal-center;
}

thead th,
tfoot th {
	padding: 14px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

tbody tr:hover {
	background-color: #f2f6fc;
}

td {
	display: table-cell;
	vertical-align: inherit;
	padding: 14px;
}

// Pre

pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
}

// Code

code {
	font-family: monospace;
}

// Form

form {
	padding: var(--sp-1);
    border: solid 2px;
    border-radius: var(--radius);
}

// Label

label {
	height: 30px;
	display: flex;
	align-items: center;
}

// Link

a[href] {
	cursor: pointer;
}
